[submodule ".vim/bundle/badwolf"]
	path = .vim/bundle/badwolf
	url = git://github.com/sjl/badwolf.git
[submodule ".vim/bundle/vim-sensible"]
	path = .vim/bundle/vim-sensible
	url = git://github.com/tpope/vim-sensible.git
